.form {
    text-align: center;
}

.size {
    width: 50vh;
    margin: auto;
}

.bg_size{
    width: inherit;
    height: inherit;
}

a {
    color: white;
}

.imgSize{
    max-height: 100%;
    max-width: 100%;
}